{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
 <h2>Registrar Estudiante Autorizador</h2>

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-primary">Agregar </button>
  <button class="btn btn-info" onclick="toggleTabla()">Ver Listado</button>
</form>

<div id="tablaAdministradores" style="display:none; margin-top:20px;">
  <h3>Lista de Estudiantes Autorizadores</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Carnet</th>
        <th>Correo</th>
      </tr>
    </thead>
    <tbody>
      {% for admin in administradores %}
      <tr>
        <td>{{ admin.nombres }}</td>
        <td>{{ admin.apellidos }}</td>
        <td>{{ admin.carnet }}</td>
        <td>{{ admin.correo }}</td>
      </tr>
      {% empty %}
      <tr><td colspan="4">No hay administradores registrados</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
function toggleTabla() {
    let tabla = document.getElementById("tablaAdministradores");
    if (tabla.style.display === "none") {
        tabla.style.display = "block";
    } else {
        tabla.style.display = "none";
    }
}
</script>
{% endblock %}
