{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
  <!-- CONTENIDO -->
   <div id="administradores" class="seccion">
    <h3>Administradores</h3>
    <div class="table-responsive">
      <table class="table table-dark table-striped table-hover text-center align-middle">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Departamento</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Laura Méndez</td>
            <td>Recursos Humanos</td>
          </tr>
          <tr>
            <td>Marco Rojas</td>
            <td>TI</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
