{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
  <!-- CONTENIDO -->
  <div id="estudiantes" class="seccion">
    <h3>Estudiantes</h3>
    <div class="table-responsive">
      <table class="table table-dark table-striped table-hover text-center align-middle">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Código</th>
            <th>Carrera</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Juan Pérez</td>
            <td>201602467</td>
            <td>Ingeniería</td>
          </tr>
          <tr>
            <td>Ana Gómez</td>
            <td>201604785</td>
            <td>Medicina</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}